@import url(./grid.css);
@import url(./reset.css);



@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Stalinist+One&display=swap');

* {
    /* font-family: inherit; */
}


html {
    scroll-behavior: smooth;
    /* overflow-y: hidden; */


}

.Stalinist {
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}



body {



    /* font-family: Arial, Helvetica, sans-serif; */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(34, 3, 37);
    background: linear-gradient(180deg, rgba(34, 3, 37, 1) 0%, rgba(6, 0, 12, 1) 17%, rgb(19, 8, 31) 100%);
}

main {
    flex-grow: 1;
}

.url {
    text-decoration: none;
    color: black
}

/* HEADER */

.header_tittle {
    font-family: "Stalinist One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 65px;
    color: white;
    text-align: center;
    font-size: 70PX;
}

.popular_tracks {
    margin-top: 90px;

}

.track_tittle {
    font-family: "Stalinist One", sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
}

/* POPULAR CSRDS */

.track_card {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: center; */
    padding: 10px 0px 9px 40px;
    transition: transform 0.2s ease;
    /* height: 100PX; */
    border-radius: 30px;
    background-color: #fff;
}

.track_card:hover {
    cursor: pointer;
    transition: transform 0.2s ease;
    transform: scale(1.1);

}

.card_img img {
    width: 60px;
}

.track_card_inf {
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-family: "Staatliches", sans-serif;
    font-size: 22px;

}

.track_cards {
    margin-bottom: 130px;
    gap: 60px;
    justify-content: center;
}

.destroy_album {
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;
}





.destroyIMage {

    position: relative;
}

.destroyIMage img {
    max-width: 100%;
    width: 600px;
    transition: transform 0.2s ease;
    /* Плавное изменение масштаба */
}

.destroyIMage:hover img {
    transform: scale(10.10);
    /* Увеличение масштаба на 10% */
}

.artist_inf {
    font-family: "Staatliches", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.artist_item {
    color: white;
    font-size: 30px;
}

.artist_prof {
    color: #A7A7A7;
    font-size: 25px;

}

.artist_img img {
    width: 290.08px;
}

.artist_Cards {
    padding-top: 100px;
    justify-content: space-around;
}

.artist_Cards {}

.artist_cad {
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease;
    flex-direction: column;
}

.artist_cad:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;

    /* background-color: rgba(255, 255, 255, 0.251); */

}

.merch {
    margin-top: 130px;
}

.merch_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}

.merch_carf_disc {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Staatliches", sans-serif;
    color: white;
    font-size: 28px;
}

.merch_card img {
    width: 330px;
}

.merch_card:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.merch_cont {
    justify-content: center;
    gap: 30px;
}

.footer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.nav_list {
    gap: 23px;
    display: flex;

}

.nav_item i {}

@media (max-width:513px) {
    .header_tittle {
        font-size: 33px;
    }
    .track_tittle {
        font-size: 20px;
    } 
}

@media (max-width:444px) {
    .track_card {
        padding: 5px 0px 2px 27px;
    }

    .card_img img {
        width: 50px;
        
    }
    .track_card_inf {

        font-size: 17px;
    } 

}